@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.light-bg {
  position: absolute;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(122,88,255,0.35), transparent 90%);
  pointer-events: none;
  filter: blur(100px);
  z-index: 0;
}
.bg-color{
  background: #000000;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.83) 0%, rgba(2, 34, 54, 1) 3%);
}
@media (max-width:500px) {
  .light-bg{
    width: 150px;
    height: 200px;
  }
}
@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}
.carousel-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 24px;
  animation: scroll 10s linear infinite;
  width: max-content;
}

.carousel-item {
  flex: 0 0 auto;
  width: 200px;
  height: 189px;
  background: #fbfcfe;
  padding: 20px;
  display: flex;
  align-items: end;
  justify-content: center;
  border-radius: 8px;
  color: #5A6789;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: 1px solid #e9e8e8;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.card{
  background-image: url('');
}

.sec-1 {
  padding: 200px 0 210px;
  background-image: url(../public/sec-1-bg.avif);
  background-size: 150% 130%;
  background-repeat: no-repeat;
  background-position: 0 100%;
  overflow: visible;
}

@media (max-width: 1540px) {
  .sec-1 {
      padding: 130px 0 270px;
      overflow: hidden;
  }
}

.custom-shadow {
  box-shadow: 0px 4px 15.1px 5px rgba(0,102,255,.11);
}

.kredo-rotation-bg {
  background-image: url(../public/sec-1-bg.avif);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 14.1px 0px;
  background-size: 140% 200%;
  background-position: 50% 30%;
}

.bg-globe {
  background-image: url(../public/globe.svg);
  background-size: contain;
  height: 721px;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin:  0 auto;
}

.coin-animate {
  animation: coin alternate infinite 2.4s;
}

.big-card-animation {
  animation: card alternate infinite 5s;
}

@keyframes card {
  to {
    transform: rotate(4deg) scale(1.05);
  }
}

@keyframes coin {
  to {
    scale: 1.1;
  }
}

/* .square-bg {
  background-size: 50% 100%;
} */